@charset "UTF-8";
/* add prefix for follow code */
#menu-wrap {
  --var-animate-time: 300ms;
}

#menu-wrap .navbar-collapse ul li {
  list-style: none;
}

#menu-wrap .navbar-collapse .second_menu a[href="#"] {
  cursor: default;
}

#menu-wrap, #menu-wrap .navbar {
  padding: 0;
  height: 87px;
}

#menu-wrap {
  height: 87px;
}

@media (max-width: 991px) {
  #menu-wrap, #menu-wrap .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
  }
  #menu-wrap .navbar-collapse {
    position: fixed;
    left: 0;
    top: 87px;
    right: 0;
    /* width: 100v; */
    max-height: calc(100vh - 87px);
    overflow-y: auto;
    z-index: 5000;
    background: rgb(0, 0, 0);
    border-top: 1px solid #ffffff;
  }
  #menu-wrap .navbar-collapse ul.navbar-nav {
    /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 0; */
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  #menu-wrap .navbar-collapse ul.navbar-nav li ul {
    padding: 0 20px;
    /* margin: 15px 0; */
  }
  #menu-wrap .navbar-collapse ul.fourth_menu {
    display: none;
  }
  #menu-wrap .navbar-collapse ul.navbar-nav > li:not(:last-child) > a,
  #menu-wrap .navbar-collapse ul.second_menu > li:not(:last-child) > a:not(:only-child) {
    border-bottom: 1px solid #ffffff;
  }
  #menu-wrap .navbar-collapse ul li.open:not(:last-child) {
    border-bottom: 1px solid #ffffff;
  }
  /* #menu-wrap .navbar-collapse ul.second_menu>li:has(.third_menu):first-child>a,
  #menu-wrap .navbar-collapse ul.third_menu>li:has(.fourth_menu):first-child>a{
    border-top: none;
  }
  #menu-wrap .navbar-collapse ul.navbar-nav>li:last-child>a {
    border-bottom: 0;
  } */
  #menu-wrap .navbar-collapse ul.second_menu,
  #menu-wrap .navbar-collapse ul.third_menu,
  #menu-wrap .navbar-collapse ul.fourth_menu:not(.open) {
    /* height: 0; */
    overflow: hidden;
  }
  #menu-wrap .navbar-collapse > ul li ul {
    /* height: 0; */
    display: none;
  }
  #menu-wrap .navbar-collapse ul li.opening > ul,
  #menu-wrap .navbar-collapse ul li.closing > ul {
    display: block !important;
    -webkit-transition: height var(--var-animate-time) ease-in-out;
    -o-transition: height var(--var-animate-time) ease-in-out;
    transition: height var(--var-animate-time) ease-in-out;
  }
  #menu-wrap .navbar-collapse ul li.opening > ul {
    height: 0;
  }
  #menu-wrap .navbar-collapse .opening a,
  #menu-wrap .navbar-collapse .closing a {
    pointer-events: none;
  }
  #menu-wrap .navbar-collapse ul li.open > ul {
    display: block !important;
  }
  #menu-wrap .navbar-collapse .nav-link {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  #menu-wrap .navbar-collapse ul li a:not(:only-child) {
    position: relative;
  }
  #menu-wrap .navbar-collapse ul:not(.third_menu) > li > a:not(:only-child):after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    right: 15px;
    top: 50%;
    margin-top: -0.15em;
  }
  #menu-wrap .navbar-collapse ul li.opening > a::after {
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  #menu-wrap .navbar-collapse ul li.closing > a::after {
    -ms-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
  }
  #menu-wrap .navbar-collapse ul li.opening > a::after,
  #menu-wrap .navbar-collapse ul li.closing > a::after {
    -webkit-transition: all var(--var-animate-time) ease-in-out;
    -o-transition: all var(--var-animate-time) ease-in-out;
    transition: all var(--var-animate-time) ease-in-out;
    border-color: #62dcff;
  }
  #menu-wrap .navbar-collapse ul li.open > a::after {
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    border-color: #62dcff;
  }
  #menu-wrap .navbar-collapse ul li a.active,
  #menu-wrap .navbar-collapse ul li.open > a {
    color: #62dcff;
  }
  /* 菜单按钮 */
  #menu-wrap button.navbar-toggle {
    border: none;
    background: none;
    outline: none;
    padding: 14px 5px;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1;
  }
  #menu-wrap button.navbar-toggle:focus {
    border: none;
  }
  #menu-wrap button.navbar-toggle span {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 1px;
    background-color: #fff;
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
    vertical-align: middle;
    opacity: 0.7;
  }
  #menu-wrap button.navbar-toggle span::after,
  #menu-wrap button.navbar-toggle span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
  }
  #menu-wrap button.navbar-toggle span::after {
    top: -12px;
  }
  #menu-wrap button.navbar-toggle.collapsed span {
    background: transparent;
    opacity: 1;
  }
  #menu-wrap button.navbar-toggle.collapsed span::after {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 50%;
  }
  #menu-wrap button.navbar-toggle.collapsed span::before {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 50%;
  }
  #menu-wrap button.navbar-toggle span::before {
    top: 12px;
  }
  #menu-wrap button.navbar-toggle.ccollapsing {
    pointer-events: none;
  }
  /* menu */
  #menu-wrap div.navbar-collapse {
    display: none;
  }
  #menu-wrap div.navbar-collapse.ccollapsing {
    display: block !important;
    height: 0;
    overflow: hidden;
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
  }
  #menu-wrap div.navbar-collapse.collapsed {
    display: block !important;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu .second_menu > li.close {
    display: none;
  }
}
/* @media (min-width: 576px) {
  #menu-wrap .navbar-collapse ul.navbar-nav {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #menu-wrap .navbar-collapse ul.navbar-nav {
    max-width: 720px
  }
} */
@media (min-width: 992px) {
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu {
    /* max-width: 960px; */
    width: 100vw;
    padding: 20px calc((100vw - 960px) / 2 + 15px);
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li:not(.colsed){
    width: 230px;
  }
}
@media (min-width: 1200px) {
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu {
    /* max-width: 1140px; */
    width: 100vw;
    padding: 20px calc((100vw - 1140px) / 2 + 15px);
  }
  /* #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) > .second_menu {
    padding-top: 40px;
    padding-bottom: 40px;
  } */
}
@media (min-width: 992px) {
  
  #menu-wrap .navbar {
    position: relative;
  }
  #menu-wrap .navbar .navbar-brand {
    position: absolute;
    left: 0;
  }

   #menu-wrap .navbar .navbar-nav {
    width: 100%;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }

  #menu-wrap .navbar .navbar-nav .first_menu.lang{
    position: absolute;
    right: 0;
  }
 #menu-wrap .navbar .navbar-nav .first_menu.lang a::before{
    display: none;
  }
  #menu-wrap .navbar .navbar-nav .first_menu.lang>a.nav-link{
    padding: 0;
  }
  #menu-wrap .navbar-collapse .second_menu {
    position: fixed;
    
    top: 87px;
    background-color: rgb(244, 244, 244);
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    max-height: calc(100vh - 87px);
    overflow-y: auto;
    z-index: 4999;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  }
  #menu-wrap .navbar-collapse .multilevel .second_menu{
    left: 0;
    right: 0;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.lang) > a:not(:only-child)::after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-color: #fff;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    right: 5px;
    top: 50%;
    margin-top: -0.15em;
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > a {
    line-height: 1.2;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    padding: 0 1em;
  }
  /* #menu-wrap .navbar-collapse .navbar-nav .first_menu>.second_menu>li {
    padding-left: 15px;
    padding-right: 15px;
  } */
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a {
    position: relative;
    display: inline-block;
    color: #313139;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu a.active,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.open > a,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > a:hover,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a:hover {
    color: #62dcff;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > a::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #62dcff;
    position: absolute;
    bottom: 3px;
    left: 0.8em;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a:not(.active):hover {
    color: #1034a5;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > a:hover {
    color: #313139;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a::after {
    background-color: #1034a5;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.open > a::after {
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.active > a::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.open > a::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > a::before {
    bottom: -3px;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.active > a::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.open > a::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > a:hover::before,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li a:hover::after {
    width: calc(100% - 1.6em);
    -ms-transform-origin: left;
        transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
  }
  /* 下拉菜單佈局 */
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu {
    -webkit-transition: all var(--var-animate-time) linear;
    -o-transition: all var(--var-animate-time) linear;
    transition: all var(--var-animate-time) linear;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu > li > a.active {
    background-color: #1034a5;
    border-radius: 6px;
    border: 1px solid #1034a5;
    color: #ffffff;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.open > .second_menu {
    opacity: 1;
    visibility: visible;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu {
    display: grid;
    gap: 7px;
    padding: 20px;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu > .second_menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            -webkit-box-pack: space-between!important;
            -ms-flex-pack: space-between!important;
            justify-content: space-between!important;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > a {
    position: relative;
    border-left: 3px solid #62dcff;
    font-weight: bolder;
    color: #313139;
    margin-bottom: 15px;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li {
    margin-bottom: 10px;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > a:hover::after,
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li > a:hover::after {
    display: none;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li > a {
    background-color: #313139;
    border-radius: 6px;
    border: 1px solid #313139;
    color: #ffffff;
    margin-bottom: 5px;
    width: 100%;
  }
  /* #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li > .fourth_menu > li a.nav-link {
    padding: 0.4em 0;
  } */
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li > a.active {
    background-color: #1034a5;
    border-color: #1034a5;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > .third_menu > li > a:hover {
    background-color: #313139;
    color: #62dcff;
    border-color: #313139;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu ul {
    padding-left: 0;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) .second_menu > li.close{
    display: none;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu .second_menu > li.close {
    content: "x";
    position: absolute;
    top: 20px;
    right: calc((50vw - 480px) / 2 - 20px);
    color: #949497;
    font-size: 40px;
    line-height: 1.1;
    display: block;
    cursor: pointer;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) > .second_menu > li {
    text-align: left;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) > .second_menu > li a.active {
    display: block;
  }
  #menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) > .second_menu > li a {
    font-weight: bolder;
  }
}
@media (min-width: 1200px) {
  #menu-wrap .navbar-collapse .navbar-nav .first_menu .second_menu > li.close {
    right: calc((50vw - 540px) / 2 - 35px);
  }
}
#menu-wrap .navbar-collapse .navbar-nav .first_menu .second_menu > li a {
  font-size: 15px;
}

#menu-wrap .navbar-collapse .navbar-nav .first_menu > a,
#menu-wrap .navbar-collapse .navbar-nav .first_menu:not(.multilevel) > .second_menu > li a {
  font-size: 16px;
}
#menu-wrap .navbar-collapse .navbar-nav .first_menu.multilevel > .second_menu > li > a{
  font-size: 18px;
}