/* 去除鼠標點擊頁面時 出現的光標 */
div, span, p {
  caret-color: transparent;
}
sup{
  font-size: .7em;
}
a:focus, a:hover {
  text-decoration: none;
}
a svg {
  fill: currentcolor;
  vertical-align: middle;
}

/* button */
.btn-blue1,.btn-blue1:focus {
  /* background-color: #1034a5; */
  background-color: #00519c;
  color: #ffffff;
}
.btn-blue1:hover {
  background-color: #62dcff;
  color: #313139;
}

/* button end */

.max-850 {
  max-width: 850px;
}
.min-340{
  min-width: 340px;
}

@media (max-width: 767px) {
  div a.btn:not(.inline){
    display: block;
    width: 100%;
    max-width: 340px;
    margin: 1rem auto!important;
    padding: 1rem;
    white-space: normal;
  }
}



/* submanu 樣式 end */
.SecTopNav{
  width: 100%;
  z-index: 998;
  margin: 0 auto;
	text-align:center;
	background-blend-mode: multiply;
	background-color: #efefef;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.SecTopNav.fixed {
	position: fixed;
  top: 87px;
  left: 0;
  z-index: 4000;
}
.SecTopNav ul{
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f7f7f7;
  z-index: 4000;
}
.SecTopNav ul li{
  list-style: none;
}
.SecTopNav li {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 10px;
  position: relative;
}
.SecTopNav li a {
  color:rgb(51, 51, 51);
}
.SecTopNav .SecTopNav_title{
  line-height: 62px;
  font-size: 18px;
  /* border-bottom: 1px solid #62dcff; */
  text-align: center;
  display: block;
  color:rgb(51, 51, 51);
  font-weight: bold;
  position: relative;
  z-index: 3999;
}
.SecTopNav .SecTopNav_title::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.SecTopNav.show .SecTopNav_title {
  color: #62dcff;
}
.SecTopNav.show ul li a.active {
  color: #62dcff;
}
.SecTopNav.show  .SecTopNav_title:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.SecTopNav.show ul {
  display: block;
}
.SecTopNav.show .bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3998;
}
@media (max-width: 991px) {
  .SecTopNav .container {
    width: 100vw;
    max-width: 100%;
  }
  .SecTopNav ul {
    display: none;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
  .SecTopNav ul li:not(:last-child){
    border-bottom: 1px solid #bbb;
  }
}
@media (min-width: 992px) {
  .SecTopNav li {
      /*float: left;*/
    display: inline-block;
    margin: 20px 0;
    padding: 0 15px;
    position: relative;
  }
  .SecTopNav .container>.row>div li:not(:last-child)::after{
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgb(51, 51, 51);
    position: absolute;
    right: 0;
  }
  .SecTopNav ul {
    position: static;
    background-color: transparent;
  }
  .SecTopNav li  a::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #62dcff;
    bottom: -5px;
    left: 0;
    width: 100%;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transform-origin: right;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  .SecTopNav li  a:hover{
    /* color: #1034a5; */
    color: #00519c;
  }
  .SecTopNav li  a.active::after{
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    text-decoration: none;
  }
}

.SecTopNavPlaceholder { 
  width: 100%;
  height: 0;
}

/* submanu 樣式 end */


/* 第二級別的banner 樣式開始 */
.second-bannner .bg-img{
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
}
/* .second-bannner .bg-img img {
  max-height:250px;
} */
.second-bannner .bg-img >.container, .second-bannner .bg-img >.container>.row {
  height: 100%;
}
/* .second-bannner .bg-img >.container h4 {
  font-weight: normal;
} */
/* .second-bannner .column-2-no-position .img,
.second-bannner .column-2 .img {
  height: 200px;
} */
.second-bannner .column-2-no-position .img img,
.second-bannner .column-2 .img img {
  height: 100%;
  width: auto;
}
.second-bannner h2, .second-bannner h4 {
  margin: 0;
}
.second-bannner h2 + h4 {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .second-bannner .img {
    height: 200px;
  }
  .second-bannner .column-2 {
    align-content:center;
    -ms-flex-line-pack: center;
  }
  .second-bannner .column-2-no-position{
    text-align: center;
  }
  /* .second-bannner .column-2 img {
    height: 200px;
    width: auto;

  } */

}
@media (min-width: 768px) {
  .second-bannner .column-2 {
    position: relative;
  }
  .second-bannner .column-2-no-position .img {
    /* height: 350px; */
  }
  .second-bannner .column-2 .img {
    height: 350px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: unset;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .second-bannner .column-2 .img.left {
    left: 0;
    right: unset;
  }
}
/* 第二級別的banner 樣式結束 */

/* icon */
.dashcam-recorder-icon img,
.outdoor-navigation-icon img,
.outdoor-luminaires-icon img,
.auxiliary-software-icon img,
.outdoor-navigation-icon img {
  max-width: 100px;
  width: 100%;
}
.dashcam-recorder-icon p,
.outdoor-navigation-icon p,
.outdoor-luminaires-icon p,
.auxiliary-software-icon p,
.outdoor-navigation-icon p{
  margin-top:20px;
  font-weight: bold;
}

.outdoor-luminaires-second{
  letter-spacing: -0.5pt;
}


/* 其它 */

#motobike_smart_cam, #kiosk, #outdoor-navigation, #outdoor-luminaires, #fleet-management{
  margin-top: -30px;
}
#premiumK165_K265{
  margin-top: -40px;
}


/* banner */
/* #motobike_smart_cam_banner .hero-text img,
#outdoor_navigation_banner .hero-text img {
  width: auto;
} */
@media (max-width: 767px) {
  .parallax {
    z-index: -1;
  }
  #motobike_smart_cam_banner .hero-text img,
  #outdoor_navigation_banner .hero-text img,
  #handy-terminal_banner .hero-text img,
  #kiosk_banner .hero-text img,
  #industrial-tablet .hero-text img,
  #multi-view-dashcam .hero-text img,
  #handy-terminal .hero-text img {
    width: 200px;
    height: auto;
    padding: 0;
  }
  /* #motobike_smart_cam_banner .hero-center-wrap,
  #outdoor_navigation_banner .hero-center-wrap{
    position:static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  } */
}

.vt-solution-section .content {
  margin-top: 15px;
}
.vt-solution-section .content h3 {
  /* color: #1034a5; */
  color: #00519c;
  font-weight: bold;
}
.vt-solution-section .content ul {
  padding-left: 20px;
}
.vt-solution-section .content ul li{
  font-size: 1.3rem;
}

.section.padding-top-bottom.background-white p{
  margin:0;
}

.section.padding-top-bottom.background-white p + p{
  margin-top:30px;
}

/* faq */
.faq_content ol>li>a{
  color:rgb(49, 49, 57);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}
.faq_content ol>li>a::after{
  content: "";
  border-color: #fff;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 8px;
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -o-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  transition: transform .3s linear;
}
.faq_content ol>li>a[aria-expanded=true]::after{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.faq_content ol>li>a[aria-expanded=true],
.faq_content ol>li:hover > a{
  color: #1034a5;
  text-decoration: underline;
}
.faq_content ul li>a {
  text-decoration: underline;
}
.faq_content ul {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-top: 5px;
}
.faq_content ul >li{
  font-size: 1.4rem;
}
.faq_content ol {
  padding-left: 20px;
}
.faq_content ol > li {
  margin-top: 15px;
  font-size: 1.4rem;
}

/* faq */

/* csr */
.csr-content h2 {
  color: #1034a5;
}
.csr-content h2 + p {
  margin-top: 30px;
}
.csr-content p + img {
  margin-top: 30px;
}

.csr-content h5 {
  margin-top: 30px;
}

 .csr-content img{
  width: 500px;
  height: auto;
}

.csr-content p a{
  margin: 0 20px 0 0;
}
/* banner style */
.second-bannner h2,
.second-bannner h4,
.hero-text h1,
.hero-text h3 {
  text-shadow: 0px 4px 8px rgb(133 133 133 / 60%), 0px 8px 13px rgb(121 121 121 / 10%), 0px 18px 23px rgb(114 114 114 / 10%);
}
#e-mirror-dashcam .second-bannner .col-md-12 {
  margin-top: 170px;
}

/* youtube图片 */
.video_img{
  width: 750px;
}

/* fleet-management */
#fleet-management h1,
#fleet-management h3{
  text-shadow: none;
}

.productDetail .swiper-slide:not(.swiper-slide-active) {
  opacity: 0!important;
}
.mt_30_{
  margin-top: -30px;
}
.mt_10_{
  margin-top: -10px;
}
.section .padding-top-bottom .row p{
  margin: 0px;
}
.hr{
  margin: 60px 0 0 0
}
.section .container .col-md-12 a.btn,
.productDetail .container .row .btn {
  margin: 0 10px;
}
.csr-content ul li{
  font-size: 1.4rem;
}
/* a:not(:only-child){
  margin: 0 10px;
} */
.product-specs-table .tc ul,
.product-specs-table .data ul{
  margin: 0;
  padding: 0;
}


#mivue-pro h3,
#mivue-manager h3,
#mionext h3,
#mioshare h3{
  font-weight: 700;
}
.mid-height-incNav{
  margin-top: 85px;
  height: 500px;
}
@media (min-width: 768px) {
  .mid-height-incNav{
    height: 350px;
  }
}
@media (min-width: 1367px) {
  .mid-height-incNav{
    height: 450px;
  }
}
.mid-height-incNav h1{
  font-weight: 650;
}
.mid-height-incNav h3.h4{
  font-weight: 550;
}
.second-bannner h2{
  font-weight: 600;
}
.second-bannner h4{
  font-weight: 500;
}

/* 
 homer slide
*/
.embed-responsive-16by9::before {
  padding-top: 0
}
.embed-responsive-16by9 {
  height: 40vw;
  max-height: 100vh - 80px;
}
@media (max-width: 767px) {
  .embed-responsive-16by9 {
    height: 100vw;
  }
}

#home-slide .swiper {
 width: 100%;
 height: 100%;
}

#home-slide .swiper-container-horizontal>.swiper-pagination-bullets {
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
#home-slide .swiper-pagination-bullet {
  width: 60px;
  height: 3px;
  background: rgba(204,204,204,0.5);
  border-radius: 0;
}
#home-slide .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(204,204,204,1);
}

.btn-youtube {
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
}

.btn-youtube:focus{
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}
.btn-youtube:hover{
  background-color: #62dcff;
  border: 3px solid #62dcff;
  color: #ffffff;
}
.absolute.btn-youtube{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 2;
}


@media (max-width: 767px) {
  #home-slide .swiper-pagination-bullet{
    display: none;
  }
  .absolute.btn-youtube {
    bottom: 55px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}