/* 去除鼠標點擊頁面時 出現的光標 */
div, span, p {
  caret-color: transparent;
}
a:focus, a:hover {
  text-decoration: none;
}
/* submanu 樣式 end */
.SecTopNav{
  width: 100%;
  z-index: 4000;
  margin: 0 auto;
	text-align:center;
	background-blend-mode: multiply;
	background-color: #efefef;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
.SecTopNav.fixed {
	position: fixed;
  top: 87px;
  left: 0;
}
.SecTopNav span {
    /*float: left;*/
	display: inline-block;
  margin: 20px 0;
  padding: 0 15px;
  position: relative;
}
.SecTopNav .container>.row>div span:not(:last-child)::after{
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  position: absolute;
  right: 0;
}
.SecTopNav span  a{
	font-size: 1.2rem;
	color:rgb(51, 51, 51);
  position: relative;
}
.SecTopNav span  a::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #62dcff;
  bottom: -5px;
  left: 0;
  width: 0;
  -webkit-transition: all 900ms cubic-bezier(0.175,0.885,0.32,1.275);
  -moz-transition: all 900ms cubic-bezier(0.175,0.885,0.32,1.275);
  -o-transition: all 900ms cubic-bezier(0.175,0.885,0.32,1.275);
  transition: all 900ms cubic-bezier(0.175,0.885,0.32,1.275);
  
}
.SecTopNav span  a:hover::after, .SecTopNav span  a.active::after{
  width: 100%;
  text-decoration: none;
}

.SecTopNavPlaceholder { 
  width: 100%;
  height: 0;
}

/* submanu 樣式 end */


/* 第二級別的banner 樣式開始 */
.second-bannner .bg-img{
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
}

.second-bannner .bg-img >.container, .second-bannner .bg-img >.container>.row {
  height: 100%;
}
.second-bannner .bg-img >.container h4 {
  font-weight: normal;
}
@media (max-width: 991px) {
  .second-bannner .column-2 {
    align-content:center;
    -ms-flex-line-pack: center;
  }
  .second-bannner .column-2 img {
    height: 200px;
    width: auto;

  }
  .second-bannner .column-2 {
    text-align: center;
  }
}
/* 第二級別的banner 樣式結束 */

/* icon */
.dashcam-recorder-icon img,.auxiliary-software-icon img{
  max-width: 100px;
  width: 100%;
}
.dashcam-recorder-icon p, .auxiliary-software-icon p {
  margin-top:20px;
  font-weight: bold;
}

