a{
text-decoration: none;
}
/* home-banner  start */
.home_banner{
  position: relative;
}
.home_btn{
  position: absolute;
  top: 80%;
  right: 40%;
}
/* home-banner end */

/* auxiliary_software */
.auxiliary_software_img{
  width: 70%;
}