a{
text-decoration: none;
} 
.mt-100{
  margin-top: 100px;
}

/* auxiliary_software */
.auxiliary_software_img{
  width: 70%;
}

/* vt-solution  start*/
.embed-responsive video{
  height: 600px !important;
}
.embed-responsive-16by9::before {
  padding-top: 34%;
}



.img_icon{
  width:32px;
  height:32px;
  border-radius:50%;
  background-color:#00519c; 
  font-size: 20px; 
  text-align:center;
  line-height:32px;
  display:inline-block; 
  color: #ffffff;
  margin-right: 5px;;
}

.vt-slolution-product .product_info .product_img {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

.vt-slolution-product h4 .h5{
  color: #00519c;
}

/* vt-solution end */

/* faq start */
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
}
.card{
  border: none;
}



/* video telematics */

.section.productDetail .pdt_name{
  border-bottom: solid 3px #313139;
}
.section.productDetail .pdt_name h2 {
  border: none;
}

/* start */